In [4]:
import os
import pandas as pd

In [ ]:
azcopy --source https://datasharesa.blob.core.windows.net/imagenet/train.csv \
        --destination  /data/imagenet/train.csv\
        --source-sas "?se=2025-01-01&sp=r&sv=2017-04-17&sr=b&sig=EUcahDDZcefOKtHoVWDh7voAC1BoxYNM512spFmjmDU%3D"\
        --quiet

In [ ]:
!azcopy --source https://datasharesa.blob.core.windows.net/imagenet/validation.csv \
        --destination  /data/imagenet/validation.csv\
        --source-sas "?se=2025-01-01&sp=r&sv=2017-04-17&sr=b&sig=7x3rN7c/nlXbnZ0gAFywd5Er3r6MdwCq97Vwvda25WE%3D"\
        --quiet

In [30]:
root_path = '/data/imagenet/'
train_path = root_path + 'train.csv'
val_path = root_path + 'validation.csv'

#### Train set

In [31]:
train = pd.read_csv(train_path, usecols=['filenames','num_id'])
print(train.shape)
print(min(train['num_id']))
train.head()

(1281167, 2)
1

                        filenames  num_id
0  n02119789/n02119789_12009.JPEG       1
1   n02119789/n02119789_4083.JPEG       1
2  n02119789/n02119789_14450.JPEG       1
3  n02119789/n02119789_11832.JPEG       1
4   n02119789/n02119789_5459.JPEG       1

In [32]:
mnt_path = '/mnt/batch/tasks/shared/LS_root/mounts/imagenet/'
train['filenames'] = mnt_path + 'train/' + train['filenames']
train.head()

                                           filenames  num_id
0  /mnt/batch/tasks/shared/LS_root/mounts/imagene...       1
1  /mnt/batch/tasks/shared/LS_root/mounts/imagene...       1
2  /mnt/batch/tasks/shared/LS_root/mounts/imagene...       1
3  /mnt/batch/tasks/shared/LS_root/mounts/imagene...       1
4  /mnt/batch/tasks/shared/LS_root/mounts/imagene...       1

In [33]:
train.to_csv('train_map.txt', header=False, index=False, sep='\t')

#### Validation set

In [34]:
val = pd.read_csv(val_path, usecols=['filenames','num_id'])
print(val.shape)
val.head()

(50000, 2)

                      filenames  num_id
0  ILSVRC2012_val_00000001.JPEG     490
1  ILSVRC2012_val_00000002.JPEG     361
2  ILSVRC2012_val_00000003.JPEG     171
3  ILSVRC2012_val_00000004.JPEG     822
4  ILSVRC2012_val_00000005.JPEG     297

In [35]:
val['filenames'] = mnt_path + 'validation/' + val['filenames']
val.head()

                                           filenames  num_id
0  /mnt/batch/tasks/shared/LS_root/mounts/imagene...     490
1  /mnt/batch/tasks/shared/LS_root/mounts/imagene...     361
2  /mnt/batch/tasks/shared/LS_root/mounts/imagene...     171
3  /mnt/batch/tasks/shared/LS_root/mounts/imagene...     822
4  /mnt/batch/tasks/shared/LS_root/mounts/imagene...     297

In [36]:
val.to_csv('val_map.txt', header=False, index=False, sep='\t')

#### ImageNet mean values

In [37]:
!wget https://raw.githubusercontent.com/Microsoft/CNTK/master/Examples/Image/DataSets/ImageNet/ImageNet1K_mean.xml

--2018-05-21 14:22:19--  https://raw.githubusercontent.com/Microsoft/CNTK/master/Examples/Image/DataSets/ImageNet/ImageNet1K_mean.xml
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.16.133
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.16.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2559185 (2.4M) [text/plain]
Saving to: ‘ImageNet1K_mean.xml’

ImageNet1K_mean.xml 100%[===================>]   2.44M  --.-KB/s    in 0.1s

2018-05-21 14:22:19 (18.8 MB/s) - ‘ImageNet1K_mean.xml’ saved [2559185/2559185]